<footer class="footer">
  <div class="container-fluid text-right text-muted pt-3">
    <a style="font-size: 13px;" class="pr-2 pull-left" href="/privacy" target="_blank" >Privacy Policy</a>
    <a style="font-size: 13px;" class="pr-2 pull-left" href="/terms" target="_blank">Terms</a>
    <span class="text-muted pull-right" style="font-size: 13px;">&copy; 2019 Confirmed</span>
    <span class="pull-right mx-2" style="font-size: 13px;"><a target="blank" href="https://twitter.com/lockdown_hq">@lockdown_hq</a></span>
  </div>
</footer>