<!-- <footer class="footer">
  <div class="container-fluid text-right text-muted pt-3">
    <a style="font-size: 13px;" class="pr-2 pull-left" href="/faq" target="_blank" >FAQ</a>
    <a style="font-size: 13px;" class="pr-2 pull-left" href="/privacy" target="_blank" >Privacy Policy</a>
    <a style="font-size: 13px;" class="pr-2 pull-left" href="/terms" target="_blank">Terms</a>
    <span class="text-muted pull-right" style="font-size: 13px;">&copy; 2020 Confirmed</span>
    <span class="pull-right mx-2" style="font-size: 13px;"><a target="blank" href="https://twitter.com/lockdown_hq">@lockdown_hq</a></span>
  </div>
</footer>
-->

<div class="container-fluid bg-light">
  <div class="container text-left pb-5 pt-3">
    <footer class="pt-4">
      <div class="row">
        <div class="col-12 col-md">
          <img src="{{S3_BUCKET}}/images/brand-icon.png" width="36" height="36">
          <div class="pl-1 pb-1 d-inline-block text-muted mb-4 small">© Confirmed 2020</div>
        </div>
        <div class="col-6 col-md">
          <h5>Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/about">About</a></li>
            <li><a class="text-muted" href="/firewall">Firewall</a></li>
            <li><a class="text-muted" href="/secure-tunnel">Secure Tunnel</a></li>
            <li><a class="text-muted" href="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Legal</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/privacy" target="_blank">Privacy Policy</a></li>
            <li><a class="text-muted" href="/terms" target="_blank">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Other</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://privacyreview.co" target="_blank">Privacy Reviews</a></li>
            <li><a class="text-muted" href="mailto:team@{{DOMAIN}}">Support</a></li>
            <li><a class="text-muted" href="https://twitter.com/lockdown_hq" target="_blank">Twitter</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>