<head>
  <title>{{title}}</title>
  
	<meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The simple, powerful firewall that blocks tracking, ads, badware and more.">
  <meta name="author" content="Confirmed Inc.">

	<meta property="og:type" content="product">
	<meta property="og:title" content="Lockdown: The Free, Open Source Firewall">
	<meta property="og:description" content="The simple powerful firewall that blocks tracking, ads, badware and more.">
	<meta property="og:url" content="https://lockdownhq.com">
  <meta property="og:image" content="https://lockdownhq.com/images/preview.jpg">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/lockdown.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  
</head>