<nav class="navbar fixed-top border-bottom navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" height="40" alt="Lockdown Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">  
      <li class="nav-item">
        
      </li>
    </ul>
    <a class="nav-link" href="https://medium.com/@johnnylin/heres-what-the-do-not-sell-my-personal-data-button-does-e79e350bc539?source=friends_link&sk=895357334a3f442a4b87efbe24401a39" target="_blank">Why We Built This</a>
    <a class="nav-link" href="mailto:team@{{DOMAIN}}">Support</a>
  </div>
</nav>