<div class="text-left pb-3 pt-4">
  <a href="/review/houseparty"><h3 class="mt-3 pb-0 mb-0">Privacy Review: Houseparty</h3></a>
  <div class="text-muted mb-2 mt-2">April 15th, 2020 by Johnny Lin - <a href="/review/houseparty">Permalink</a></div>
</div>

<div class="text-left">

<p>Popular apps are often secretly sending personal data to marketing companies, or including invasive third-party trackers, or abusing permissions that they're granted, even in the background.</p>
<p>In our <strong>Privacy Reviews</strong> series, we dissect one app per review and tell you which third-party trackers it's using, what the trackers do, and what data they collect. We use the <a href="lockdownhq.com" target="_blank">Lockdown</a> app to automatically expose and block these behaviors.</p>

<div class="pt-2">

  <div class="row pl-4">
    <div class="col-12 col-md-10 offset-md-1">
      <img src="{{S3_BUCKET}}/images/houseparty-report.png" class="img-fluid rounded">
    </div>
  </div>

</div>

<div class="pt-4 mt-2">

  <h4 class="heading pb-1"><strong>What is this app?</strong></h4>
  
  <div class="row ml-4 mr-2 py-3 bg-light rounded">
    <div class="col-md-2 text-center py-2">
      <img src="{{S3_BUCKET}}/images/houseparty.jpg" class="img-fluid rounded" style="max-height: 110px">
    </div>
    <div class="col-md-10">
      <dl class="row mb-0">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">Houseparty (iOS, Android, Mac, PC, Browser)</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">Group video chat app that also includes games.</dd>
        <dt class="col-sm-2">Popularity</dt>
        <dd class="col-sm-10">Currently the #1 downloaded app in Social Networking category with millions of installs per month. Target demographic is a younger population.</dd>
        <dt class="col-sm-2">Ownership</dt>
        <dd class="col-sm-10">Owned by Epic Games, which is itself 40% owned by Tencent, a Chinese multinational conglomerate, and >50% owned by its founder, Tim Sweeney.</dd>
      </dl>
    </div>
  </div>

</div>

<div class="pt-4 mt-2">

  <h4 class="heading pb-1"><strong>What user data and permissions does this app require?</strong></h4>
  
  <div class="row ml-4 mr-2 pb-3 bg-light rounded">
    <div class="col-md-4 pt-3">
      <h5 class="text-center heading"><strong>Required Info</strong></h5>
      <h5><span class="text-bottom h2 mx-2">🙋‍♀️</span> Full Name</h5>
      <h5><span class="text-bottom h2 mx-2">✉️</span> Email Address</h5>
      <h5><span class="text-bottom h2 mx-2">📅</span> Full Birthdate</h5>
      <h5><span class="text-bottom h2 mx-2">📞</span> Phone Number</h5>
    </div>
    <div class="col-md-4 pt-3">
      <h5 class="text-center heading"><strong>Required Access</strong></h5>
      <h5><span class="text-bottom h2 mx-2">📷</span> Camera</h5>
      <h5><span class="text-bottom h2 mx-2">🎤</span> Microphone</h5>
      <h5><span class="text-bottom h2 mx-2">❗️</span> Notification</h5>
    </div>
    <div class="col-md-4 pt-3">
      <h5 class="text-center heading"><strong>Optional</strong></h5>
      <h5><span class="text-bottom h2 mx-2">📇</span> Contacts</h5>
      <h5><span class="text-bottom h2 mx-2">🤦‍♀️</span> Facebook Connect</h5>
    </div>
  </div>
  
</div>

<div class="pt-4 mt-2">

  <h4 class="heading pb-1"><strong>Which trackers are used, and what do they collect?</strong></h4>
  
  <div class="row ml-4 mr-2 pb-3 bg-light rounded">
  
    <div class="col-md-6 pt-3">
      <h5><strong>AppsFlyer</strong><span class="ml-2 badge badge-warning">MARKETING</span></h5>
      <p class="small mb-0">Unique identifiers, IP address, User agent, the URL from the referring website, downloads and installations of Applications, and other interactions, events and actions, Customer issued user ID, 
      <a data-toggle="collapse" href="#appsflyerMore" role="button" aria-expanded="false" aria-controls="appsflyerMore">show more</a>
      <span class="collapse" id="appsflyerMore">clicks on Customer ads, ad impressions viewed, audiences or segments to which an ad campaign is attributed, the type of ads and the webpage or Application from which such ads were displayed, the webpages on Customer’s website visited by an End User, IDFA (identifier for advertisers), Android ID; Google Advertiser ID, browser type, device type and model, CPU, system language, memory, OS version, Wi-Fi status, time stamp and zone, device motion parameters, carrier.</span></p>
    </div>  
    
    <div class="col-md-6 pt-3">
      <h5><strong>Segment</strong><span class="ml-2 badge badge-warning">USER DATA</span></h5>
      <p class="small mb-0">Contact Information, Profile Information, Communications, Marketing Information, Financial Transaction Information, Device Data, Online Activity Data, Professional or Employment Information, User Preferences</p>
    </div>  
    
    <div class="col-md-6 pt-3">
      <h5><strong>Branch</strong><span class="ml-2 badge badge-warning">MARKETING</span></h5>
      <p class="small mb-0">IP Address, Cookie, Link Data, User Agent, Referrer, Request, Phone Number, Engagement Data, iOS Identifier for Advertising, iOS Identifier for Vendors, Android Advertising ID (GAID), Android ID,
      <a data-toggle="collapse" href="#branchMore" role="button" aria-expanded="false" aria-controls="branchMore">show more</a>
      <span class="collapse" id="branchMore">Branch Cookie ID, App Version, Device model, Manufacturer, Operating system, Operating system version, Screen size, screen resolution, Session start/stop time, Mobile network status (WiFi, etc), Application installed time, Application updated time, Device locale (country and language), Local IP address, Mobile platform, Branch SDK version, Carrier ID, MAC address, Windows Advertising ID, CPU ID</span></p>
    </div>
    
    <div class="col-md-6 pt-3">
      <h5><strong>Instabug</strong><span class="ml-2 badge badge-warning">ANALYTICS</span></h5>
      <p class="small mb-0">Name, email address, mailing address, phone number, payment-related information (credit card number, physical address, etc.), “free text” boxes, IP address, domain server, and type of Internet browser, cookies</p>
    </div>
    
    <div class="col-md-6 pt-3">
      <h5><strong>Taplytics</strong><span class="ml-2 badge badge-warning">MARKETING</span></h5>
      <p class="small mb-0">Privacy Policy contains vague descriptions of "Personal Data", including IP address, device identifier and usage information. Due to lack of disclosure, they're likely not compliant with GDPR and/or CCPA. Site footer still shows Copyright 2019 as of April 16th 2020.</p>
    </div>
    
    <div class="col-md-6 pt-3">
      <h5><strong>Crashlytics by Google</strong><span class="ml-2 badge badge-warning">ANALYTICS</span></h5>
      <p class="small mb-0">Owned by Google, so same as Google's Privacy Policy. Personal information, email address, apps, browsers, devices, unique identifiers, browser type and settings, device type and settings, and too much more to fit here.</p>
    </div>
    
  </div>
  
</div>

<div class="pt-4 mt-2">

  <h4 class="heading pb-1"><strong>How frequently are trackers contacted?</strong></h4>
  
  <div class="row ml-4 mr-2 pb-3 bg-light rounded">
    <div class="col-md-4 text-center py-2 pt-4">
      <img src="{{S3_BUCKET}}/images/houseparty.gif" class="img-fluid rounded" style="max-height: 110px; min-height: 360px;">
    </div>
    <div class="col-md-8 pt-4">
      Lockdown recorded and blocked <strong>214 tracking attempts</strong> in our five minutes of using Houseparty. This included app installation, initial launch, signup, and a ten second videochat.<br/><br/>Every time Houseparty was opened again, Lockdown logged 36 more tracking attempts. We detected no background tracking, but we only used the app for about an hour.<br/><br/>To ensure that these tracking attempts only came from Houseparty, we tested with an iPhone that was factory reset before the test, with no other apps installed.
    </div>
    
  </div>
  
</div>

<div class="pt-4 mt-2">

  <h4 class="heading pb-1"><strong>Conclusion</strong></h4>
  
  <div class="row ml-4 mr-2 pb-3 bg-light rounded">
    <div class="col-md-9 text-left py-2 pt-4">
      <p>
      <strong>Houseparty gets a Privacy Grade of C+.</strong>
      </p>
      <p>While we can't be 100% sure of what exactly Houseparty is sending to third party marketing and analytics companies, at the very least, every app activation, user action, and unique identifiers are being sent for unknown processing. Note that we did not use Houseparty's "Connect To Facebook" feature. Had we done so, we would have likely tripped more of Lockdown's Facebook Tracker blocking.</p>
      <p>
      If you have the free <strong><a href="https://lockdownhq.com">Lockdown</a></strong> app installed, you are automatically protected against the trackers and privacy intrusions described above. This test was conducted using Lockdown v0.3.6, and with the "Marketing (Beta)" Block List set to "Blocked".
      </p>
    </div>
    <div class="col-md-3 pt-4 text-center">
      <img src="{{S3_BUCKET}}/images/houseparty-grade.png" class="img-fluid rounded" style="max-height: 300px;">
    </div>
    
  </div>
  
</div>

</div>