{{> header title="Lockdown Apps" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav }}
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="mt-0"><strong>Lock Down Your Apps</strong></h1>
        <h4 class="mt-2 mb-3" style="line-height:1.6; color: #8f8f8f; font-size: 1.4rem;">
          <span class="d-inline-block">Lockdown is the simple, powerful on-device firewall for your phone.</span>
          <span class="d-inline-block">Free and <a target="_blank" href="https://github.com/confirmedcode/Lockdown-iOS">open source</a>.</span>
        </h4>
        <span class="d-inline-block">
          <a href="https://itunes.apple.com/app/apple-store/id1469783711?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="max-width: 280px;">
            <i class="fa fa-apple mr-1"></i> Download for iPhone
          </a>
        </span>
        <p class="mt-1 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>Mac, PC, Android Coming Soon</strong></p>
      </div>
    </div>
    
  </div>
  
  <div class="container mt-2">
    <!-- Show on MD+ Displays -->
    <div class="row">
      <div class="col-md-4 offset-md-2 mt-3 d-none d-md-block pr-4" style="max-width: 320px;">
        <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
      </div>
      <div class="col-md-6 mt-5 pt-5 d-none d-md-block pl-4">
        <div class="row">
          <div class="col-md-12 mb-2">
            <strong style="opacity: 0.3">Featured Internationally</strong>
          </div>
          <div class="col-md-6 pb-3">
            <a href="https://www.macrumors.com/2019/07/24/lockdown-firewall-app-privacy-protection/" target="_blank">
              <img src="images/macrumors.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2 pt-3">
            <a href="https://9to5mac.com/2019/07/24/lockdown-ios-firewall-open-source/" target="_blank">
              <img src="images/9to5mac.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.macobserver.com/link/lockdown-ios-firewall/" target="_blank">
              <img src="images/themacobserver.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.iculture.nl/nieuws/lockdown-firewall-ios/" target="_blank">
              <img src="images/iculture.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.iclarified.com/71779/lockdown-is-a-new-open-source-firewall-for-iphone?utm_source=dlvr.it&utm_medium=twitter" target="_blank">
              <img src="images/iclarified.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.cultofmac.com/640998/lockdown-open-source-ios-firewall/?utm_campaign=how-to&utm_medium=twitter&utm_source=twitter" target="_blank">
              <img src="images/cultofmac.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Show on SM- Displays -->
    <div class="row d-md-none">
      <div class="col-md-4 col-lg-2 offset-md-2 mt-3 mx-auto" style="max-width: 320px;">
        <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
      </div>
      <div class="col-md-5 mt-5" id="press" name="press">
        <div class="row">
          <div class="col-md-12 mb-2 mt-5 pt-4">
            <strong style="opacity: 0.3">Featured Internationally</strong>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.macrumors.com/2019/07/24/lockdown-firewall-app-privacy-protection/" target="_blank">
              <img src="images/macrumors.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://9to5mac.com/2019/07/24/lockdown-ios-firewall-open-source/" target="_blank">
              <img src="images/9to5mac.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.macobserver.com/link/lockdown-ios-firewall/" target="_blank">
              <img src="images/themacobserver.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.iculture.nl/nieuws/lockdown-firewall-ios/" target="_blank">
              <img src="images/iculture.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.iclarified.com/71779/lockdown-is-a-new-open-source-firewall-for-iphone?utm_source=dlvr.it&utm_medium=twitter" target="_blank">
              <img src="images/iclarified.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.cultofmac.com/640998/lockdown-open-source-ios-firewall/?utm_campaign=how-to&utm_medium=twitter&utm_source=twitter" target="_blank">
              <img src="images/cultofmac.png" style="max-width: 175px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{> footer }}

</body>

{{> bootstrapjs}}