{{> header title="Lockdown Apps" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav }}
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="mt-0"><strong>Lock Down Your Apps</strong></h1>
        <h4 class="mt-2 mb-3" style="line-height:1.6; color: #8f8f8f; font-size: 1.4rem;">
          <span class="d-inline-block">Lockdown is the simple, powerful on-device firewall for your phone.</span>
          <span class="d-inline-block">Free and <a target="_blank" href="https://github.com/confirmedcode/Lockdown-iOS">open source</a>.</span>
        </h4>
        <span class="d-inline-block">
          <a href="https://itunes.apple.com/app/apple-store/id1469783711?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1" style="max-width: 280px;">
            <i class="fa fa-apple mr-1"></i> Download for iPhone
          </a>
        </span>
        <p class="mt-1 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;"><strong>Mac, PC, Android Coming Soon</strong></p>
      </div>
    </div>
    
  </div>
  
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 mr-auto ml-auto" style="max-width: 320px;">
        <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
      </div>
    </div>
  </div>
  
  {{> footer }}

</body>

{{> bootstrapjs}}