{{> header title="Lockdown Apps" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav }}
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h1 class="mt-0"><strong>Lock Down Your Apps</strong></h1>
        <h4 class="mt-2 mb-3" style="line-height:1.6; color: #8f8f8f; font-size: 1.4rem;">
          <span class="d-inline-block">The simple, powerful firewall that blocks app tracking, ads, snooping and more.</span>
          <span class="d-inline-block">Free and <a target="_blank" href="https://github.com/confirmedcode/Lockdown-iOS">open source</a>.</span>
        </h4>
        <span class="d-inline-block">
          <a href="https://itunes.apple.com/app/apple-store/id1469783711?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1 mt-2" style="width: 270px;">
            <i class="fa fa-apple mr-1"></i> Download iPhone/iPad
          </a>
          <span style="position: relative; display: inline-block">
            <a href="https://apps.apple.com/us/app/lockdown-apps/id1483255076?ls=1&mt=12&ct=ConfirmedWeb" target="_blank" class="btn confirmed-blue-btn-lg m-1 mt-2" style="width: 270px;">
              <span class="notify-badge" style="position: absolute; right: -13px; top: 0px; background:red; text-align: center; border-radius: 20px; color:white; padding:5px 10px; font-size:12px; line-height: 20px;"><strong>NEW</strong></span>
              <i class="fa fa-apple mr-1"></i> Download Mac
            </a>
          </span>
        </span>
        <p class="mt-1 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;">Other Platforms Coming Soon</p>
      </div>
    </div>
    
  </div>
  
  <div class="container mt-2">
    <!-- Show on MD+ Displays -->
    <div class="row">
      <div class="col-md-4 offset-md-2 mt-3 d-none d-md-block pr-4" style="max-width: 320px;">
        <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
      </div>
      <div class="col-md-6 mt-0 pt-2 d-none d-md-block pl-4">
        <div class="row">
          <div class="col-md-12 mb-3 rounded bg-light">
            <img src="images/feature.png" class="w-100 pb-2">
          </div>
          <div class="col-md-6 pb-3">
            <a href="https://www.macrumors.com/2019/07/24/lockdown-firewall-app-privacy-protection/" target="_blank">
              <img src="images/macrumors.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2 pt-3">
            <a href="https://9to5mac.com/2019/07/24/lockdown-ios-firewall-open-source/" target="_blank">
              <img src="images/9to5mac.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.macobserver.com/link/lockdown-ios-firewall/" target="_blank">
              <img src="images/themacobserver.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.iculture.nl/nieuws/lockdown-firewall-ios/" target="_blank">
              <img src="images/iculture.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.iclarified.com/71779/lockdown-is-a-new-open-source-firewall-for-iphone?utm_source=dlvr.it&utm_medium=twitter" target="_blank">
              <img src="images/iclarified.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
          <div class="col-md-6 pb-2">
            <a href="https://www.cultofmac.com/640998/lockdown-open-source-ios-firewall/?utm_campaign=how-to&utm_medium=twitter&utm_source=twitter" target="_blank">
              <img src="images/cultofmac.png" class="w-100" style="opacity: 0.75">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Show on SM- Displays -->
    <div class="row d-md-none">
      <div class="col-md-4 col-lg-2 offset-md-2 mt-3 mx-auto" style="max-width: 320px;">
        <img src="images/iphone-screenshot.jpg" style="max-width: 100%;">
      </div>
      <div class="col-md-5 mt-5" id="press" name="press">
        <div class="row">
          <div class="col-md-12 mb-4 mt-2 pt-2 bg-light">
            <img src="images/feature.png" class="w-100 pb-2">
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.macrumors.com/2019/07/24/lockdown-firewall-app-privacy-protection/" target="_blank">
              <img src="images/macrumors.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://9to5mac.com/2019/07/24/lockdown-ios-firewall-open-source/" target="_blank">
              <img src="images/9to5mac.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.macobserver.com/link/lockdown-ios-firewall/" target="_blank">
              <img src="images/themacobserver.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.iculture.nl/nieuws/lockdown-firewall-ios/" target="_blank">
              <img src="images/iculture.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.iclarified.com/71779/lockdown-is-a-new-open-source-firewall-for-iphone?utm_source=dlvr.it&utm_medium=twitter" target="_blank">
              <img src="images/iclarified.png" style="max-width: 175px;">
            </a>
          </div>
          <div class="col-md-6 pb-4">
            <a href="https://www.cultofmac.com/640998/lockdown-open-source-ios-firewall/?utm_campaign=how-to&utm_medium=twitter&utm_source=twitter" target="_blank">
              <img src="images/cultofmac.png" style="max-width: 175px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container bg-light mt-5 mb-5 pb-5">
    <div class="row">
      <div class="col-12 mb-4 mt-5 px-5">
        <h3><strong>Over 1 Billion Trackers Blocked</strong></h3>
        <h5>Used By 100,000+ Privacy-Conscious People</h5>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 mt-3">
         <img src="images/twitter1.jpg" style="max-width: 100%">
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 mt-3">
         <img src="images/twitter2.jpg" style="max-width: 100%">
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 mt-3">
         <img src="images/twitter3.jpg" style="max-width: 100%">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 mt-3">
         <img src="images/twitter5.jpg" style="max-width: 100%">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 mt-3">
         <img src="images/twitter4.jpg" style="max-width: 100%">
      </div>
    </div>
  </div>
  <div class="container">
    
    <div class="row mt-5 mb-5">
      <div class="col-12 mb-5">
        <h1 class="mt-0"><strong>Lock Down Your Apps</strong></h1>
        <h4 class="mt-2 mb-3" style="line-height:1.6; color: #8f8f8f; font-size: 1.4rem;">
          <span class="d-inline-block">The simple, powerful firewall that blocks app tracking, ads, snooping and more.</span>
          <span class="d-inline-block">Free and <a target="_blank" href="https://github.com/confirmedcode/Lockdown-iOS">open source</a>.</span>
        </h4>
        <span class="d-inline-block">
          <a href="https://itunes.apple.com/app/apple-store/id1469783711?pt=118815644&ct=ConfirmedWeb&mt=8" target="_blank" class="btn confirmed-blue-btn-lg m-1 mt-2" style="width: 270px;">
            <i class="fa fa-apple mr-1"></i> Download iPhone/iPad
          </a>
          <span style="position: relative; display: inline-block">
            <a href="https://apps.apple.com/us/app/lockdown-apps/id1483255076?ls=1&mt=12&ct=ConfirmedWeb" target="_blank" class="btn confirmed-blue-btn-lg m-1 mt-2" style="width: 270px;">
              <span class="notify-badge" style="position: absolute; right: -13px; top: 0px; background:red; text-align: center; border-radius: 20px; color:white; padding:5px 10px; font-size:12px; line-height: 20px;"><strong>NEW</strong></span>
              <i class="fa fa-apple mr-1"></i> Download Mac
            </a>
          </span>
        </span>
        <p class="mt-1 mb-1" style="color: #ddd; font-weight: 700; font-size: 14px;">Other Platforms Coming Soon</p>
      </div>
    </div>
    
  </div>
  
  {{> footer }}

</body>

{{> bootstrapjs}}