{{> header title="Privacy Policy" }}

<body class="text-center" style="background-color: white;">
  
  {{> nav }}

  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12">
        <h4 class="serif mb-2 pb-0 mt-1 pt-1"><strong>Privacy Policy</strong></h4>
        <p class="serif pb-3 mb-4">Last Updated July 16th, 2019</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-0 pt-1 text-left">
        
      <p style="font-size: 1.5rem">Everything Lockdown does stays on your device, and what you see is literally what you get, and nothing more or less, because that's the way it should be.</p>
      <p style="font-size: 1.5rem;" class="mt-5">Longer Version: Everything Lockdown does stays on your phone, so no data is transmitted to any of our servers. This can be confirmed by checking the <a href="https://github.com/confirmedcode/Lockdown-iOS">source code</a>, which is 100% open and public for anyone to examine. Lockdown doesn't use any type of third party analytics, trackers, or APIs, so there's no risk of your data leaking to third parties. This means there's no Google Analytics, no Facebook Pixel, no Mixpanel, Fabric, Mailchimp, etc &mdash; nada.</p>
      <h3 class="mt-5 mb-3">Information We Collect</h3>
      <p>Nothing. It all stays on your device.</p>
      <br>
      <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:terms@{{DOMAIN}}" target="_blank">team@{{DOMAIN}}</a> and we will respond as quickly as we can.</p>
      </div>
      
    </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}