{{> header title=reviewtitle metaimg=reviewimage description=reviewdescription }}
  
<body class="text-center bg-white">
  
  {{> nav }}

  <div class="container text-left">
    <nav class="mt-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/review/houseparty">Privacy Reviews</a></li>
        <li class="breadcrumb-item active">Houseparty</li>
      </ol>
    </nav>

    <p class="lead">Popular apps often secretly send personal data to marketing companies, or include invasive third-party trackers, or abuse permissions that they're granted, even in the background.</p>
    <p class="lead pb-3">In our <strong>Privacy Reviews</strong> series, we dissect one app per review and tell you which third-party trackers it's using, what the trackers do, and what data they collect. We use <a href="lockdownhq.com" target="_blank">Lockdown</a> to automatically expose and block these behaviors.</p>
    
    <hr/>
  </div>
  
 
  <div class="container bg-white">

    <div class="row">
      <div class="col-lg-10 offset-lg-1 mb-5">
        {{> review }}
      </div>
    </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}