{{> header title="Privacy Reviews" }}
  
<body class="text-center bg-white">
  
  {{> nav }}
 
  <div class="container">
    <div class="row mt-1">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="text-center mb-2 mt-2 pt-4"><strong>Privacy Reviews</strong></h2>
      </div>
    </div>
  </div>
  
  <div class="container bg-white mt-3">
    
    <div class="row">
    
      <div class="col-lg-10 offset-lg-1 mb-5">
        
        {{> review }}
        
      </div>
    
    </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}